<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmberIT</title>
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
        }
        .btn{}
        .btn a{
            display: inline-block;
            padding: 15px 37px;
            background-color: #8F1D14;
            color: #E6DEDD;
            text-decoration: none;
            font-size: 600;
            box-shadow: 0px 0px 10px 0px #1B120F;
        }
    </style>
</head>
<body>
    <div class="btn">
        <a href="/ip">Router Configure</a>
    </div>
</body>
</html>