<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
    <!-- <link rel="stylesheet" href="../static/style/main.css"> -->
</head>
<body>
    <header>
        <h1>
            Happy Automation :)
        </h1>
    </header>
    <main>
        <div id="input_form">
            <div class="container">
                <div class="input_form_inner">
                    <form method="post" >
                        <!-- FORM LEFT SECTION -->
                        <div class="form_left">
                            <!-- USERNAME -->
                            <div>
                                <label for="username">Username</label>
                                <input required name="userName" id="username" placeholder="USERNAME" type="text">
                            </div>
                            <!-- PASSWORD -->
                            <div>
                                <label for="pass">Password</label>
                                <input required name="pass" id="pass" placeholder="PASSWORD" type="text">
                            </div>
                            <!-- IP LIST -->
                            <div>
                                <label for="iplist">IP List</label>
                                <textarea name="ipList"  required name="" id="iplist" placeholder="EX: 192.168.0.1" ></textarea>
                            </div>
                        </div>
                        <!-- FORM RIGHT SECTION -->
                        <div class="form_right">
                            <!-- CMD -->
                            <div>
                                <label for="cmd">Command</label>
                                <textarea name="cmd" required oninput="auto_grow(this)" name="" id="cmd" placeholder="EX: ip route show"></textarea>
                            </div>

                            <button value="submit">RUN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="outputLog">
            <h2>Configur Log</h2>
            <div id="outputLog">
        
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
    <script>
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
textare
    </script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>