<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/main.css') }}">
    <style>
        body{
            background-color: #27374D;
        }
    </style>

</head>
<body>
    <form method="post">
        <div class="ip_form">
            <div>
                <input required type="text" name="userName" placeholder="Common Username...">
                <input required type="password" id="pass" name="pass" placeholder="Common Password...">
                <span>
                    <input type="checkbox" onclick="showPass()">Show Password
                </span>
                <textarea name="ipList" cols="30" rows="20" placeholder="Ip List" ></textarea>
            </div>
            <div>
                <textarea name="cmd" cols="30" rows="20" placeholder="Command's..."></textarea>
                <button value="submit">SUBMIT</button>
            </div>
        </div>
    </form>

    <div id="outputLog">
        
    </div>

    <script>
        function showPass() {
            var x = document.getElementById("pass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>